APP_ENV={{cachet_app_env}}
APP_DEBUG={{cachet_app_debug}}
APP_URL={{cachet_app_url}}
APP_KEY={{cachet_app_key}}

DB_DRIVER={{cachet_db_driver}}
DB_HOST={{cachet_db_host}}
DB_PORT={{cachet_db_port}}
DB_DATABASE={{cachet_db_database}}
DB_USERNAME={{cachet_db_username}}
DB_PASSWORD={{cachet_db_password}}

CACHE_DRIVER={{cachet_cache_driver}}
SESSION_DRIVER={{cachet_session_driver}}
QUEUE_DRIVER={{cachet_queue_driver}}
CACHET_EMOJI={{cachet_cachet_emoji}}

MAIL_DRIVER={{cachet_mail_driver}}
MAIL_HOST={{cachet_mail_host}}
MAIL_PORT={{cachet_mail_port}}
MAIL_USERNAME={{cachet_mail_username}}
MAIL_PASSWORD={{cachet_mail_password}}
MAIL_ADDRESS={{cachet_mail_from_address}}
MAIL_NAME="{{cachet_mail_from_name}}"
MAIL_ENCRYPTION={{cachet_mail_encryption}}

REDIS_HOST={{cachet_redis_host}}
REDIS_DATABASE={{cachet_redis_database}}
REDIS_PORT={{cachet_redis_port}}

GITHUB_TOKEN={{cachet_github_token}}
